/* Enter your custom styles here */

div#__container1--Grid {
    width: 710px;
}

div#__container2--Grid {
    width: 501px;
}

div#__xmlview2--SimpleFormChange354wide--Form--Grid {
    padding-left: 67px;
}